@import "../style/variables.scss";

.DropdownMultiSelect {
  background-color: $light-bg-color;
  height: 32px;
  display: flex;
  position: relative;
  border-bottom: thin solid $dark-grey;
  color: $dark-grey;
  padding: 8px;
  cursor: pointer;
  user-select: none;
  width: 100%;
  justify-content: space-between;

  &__label {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-right: 24px;
  }

  &__caret {
    font-size: 12px;
    font-weight: 700;
  }

  &__options {
    position: absolute;
    border: 1px solid $light-grey;
    top: 40px;
    left: 0px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 100%;
    max-height: 180px;
    overflow: auto;
    z-index: 1;

    &--hide {
      display: none;
    }

    &:before {
      content: "";
      position: absolute;
      background-color: white;
      height: 24px;
      width: 24px;
      border: thin solid $light-grey;
      clip: rect(0, 12px, 12px, 0);
      transform: rotate(45deg);
      top: -4px;
      z-index: 1;
    }
  }

  &__option {
    z-index: 2;
    padding: 2px 16px 2px 4px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid $light-grey;
    }

    &-input {
      transform: scale(0.8);
      margin: 0px;
      cursor: pointer;
      &:disabled {
        color: #545454;
      }
    }

    &-label {
      text-transform: uppercase;
      margin-left: 8px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
